html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
input, button, textarea {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.errorInput {
  border: 2px solid #da3737;
}
.errorInput::placeholder {
  color: #ffffff;
}

/* loading */
.spinner {
  display: block;
  border: 4px solid rgba(0,0,0,.4);
  border-left-color: #ffffff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  animation: spin 500ms linear infinite;
}

@keyframes spin {
  to{ transform: rotate(360deg);}
}

.loading {
  background-color: #0E448D;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,.3);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading span {
  margin-bottom: .5rem;
}

.mobileactive {
  height: 90px;
}
.mobileactive > div {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
}
.mobileactive nav {
  opacity: 1;
  visibility: visible;
  transform: translateX(0vw);
  transition: all 300ms ease-in;
  overflow-y: hidden;
}
.menuHamburger {
  border-top: 4px solid #002A5B;
  width: 30px;
  display: block;
  margin: 1.5rem;
  position: relative;
  transition: all 150ms ease-in;
  cursor: pointer;
}
.menuHamburger::before, .menuHamburger::after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: #002A5B;
  margin-top: 5px;
  transition: all 300ms ease-in;
  position: relative;
}
.mobileactive .menuHamburger{
  border-top-color: transparent;
  transition: all 150ms ease-in;
}
.mobileactive .menuHamburger::before{
  transform: rotate(135deg);
}
.mobileactive .menuHamburger::after{
  transform: rotate(-135deg);
  top: -9px;
}

#__next {
  position: relative;
}