/* .formHome {
  max-width: 1200px;
  width: 100%;
  margin: 4rem auto;
  background-color: #F1F1F1;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: .5rem 2rem;
  box-shadow: 0 3px 5px rgba(0,0,0,.35);
}
.formHome__colLeft h3 {
  font-size: 1.5rem;
  color: #313131;
  margin: 10px 0;
}
.formHome__colRight {
  display: flex;
  align-items: center;  
}
.formHome__colRight p {
  background-color: #ffffff;
  padding: 1rem 4rem 1rem 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #707070;
  font-size: .8rem;
  display: flex;
  align-items: center;
}
.formHome__colRight p svg {
  font-size: 1.3rem;
  font-weight: bold;
}
.formHome__colRight button {
  background-color: #0E448D;
  border: none;
  padding: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.formHome__colRight button:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,.5);
  transform: scale(1.05);
}

@media screen and (max-width: 980px){
  .formHome {
    max-width: 70%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
}

@media screen and (max-width: 720px){
  .formHome__colRight {
    flex-direction: column;
    width: 100%;
  }
  .formHome__colRight p {
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    width: 100%;
    justify-content: center;
    margin-bottom: 0;
  }
  .formHome__colRight p svg {
    transform: rotate(90deg);
  }
  .formHome__colRight a {
    width: 100%;
  }
  .formHome__colRight button {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 560px){
  .formHome {
    max-width: 90%;
  }
} */
.formHome h3 {
  font-size: 2rem;
}
.formHome h3,
.formHome p {
  color: #313131;
  text-align: center;
}
.form {
  max-width: 920px;
  width: 100%;
  margin: 4rem auto;
  background-color: #F1F1F1;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.form textarea {
  height: 150px;
  width: 100% !important;
  resize: none;
}
.form input,
.form textarea {
  margin: .8rem 0;
  outline: none;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,.15);
  padding: 1rem 15px;
}
.form input:focus,
.form textarea:focus {
  border: 2px solid transparent;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .45);
  transform: scale(1.03);
}
.form button {
  background-color: #0E448D;
  padding: 1rem 5rem;
  color: #ffffff;
  border: 1px solid transparent;
  width: max-content;
  margin: 2rem auto 0;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all ease-in 150ms;
}
.form button:hover {
  background-color: transparent;
  border: 1px solid #0E448D;
  color: #0E448D;
}
.form button:active {
  transform: scale(0.9);
}
.formContent {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.form h1 {
  background-color: #0E448D;
  color: #ffffff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: center;
  padding: 10px 0;
  margin-top: 0;
}

.hiddenLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.errorInputTxt {
  font-size: .9rem;
  color: #f10909;
  font-weight: bold;
  transition: all 150ms ease-in;
  margin-top: -15px;
}

@media screen and (max-width: 980px){
  .form {
    margin: 3rem auto;
    max-width: unset;
    width: 90%;
  }
  .form h1 {
    font-size: 1.5rem;
  }
}